body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 13px;
  line-height: 1.65;
}

body, article {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: none;
  background-color: #333;
}

body, a, a:visited {
  color: #f1f1f1;
}

.hidden {
  display: none;
}

article {
  padding: 10px;
  box-sizing: border-box;
}

header {
  position: absolute;
  box-sizing: border-box;
  max-width: calc(100% - 200px);
  min-width: 50%;
  font-weight: lighter;
  z-index: 1;
}

footer {
  position: absolute;
  box-sizing: border-box;
  padding: 20px;
  bottom: 0;
  right: 0;
}

#nypl-container {
  position: absolute;
  padding: 10px;
  left: 0;
  bottom: 0;
  width: 60px;
  height: 60px;
}

#nypl-link {
  background-color: transparent;
}

#nypl {
  opacity: .8;
}

header h1 {
  font-size: 2rem;
  margin: 0;
  font-weight: 200;
}

header > * > *,
footer > * > * {
  background-color: rgba(30, 30, 30, 0.8);
  display: inline;
  padding: 7px 11px;
  line-height: 26px;
  height: 26px;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}

footer a,
footer a:visited {
  color: #d0343a;
}

#image-container,
#message-container {
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
  box-sizing: border-box;
  display: block;
  width: 100%;
  height: 100%;
}

#image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#message-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
