body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 13px;
  line-height: 1.65;
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: none;
  background-color: #333;
}

body, a, a:visited {
  color: #f1f1f1;
}

.hidden {
  display: none;
}

.fade {
  opacity: 0;
  transition: opacity 0.25s ease-in-out;
}

.fade-in {
  opacity: 1;
}

article {
  padding: 10px;
  box-sizing: border-box;
}

header {
  position: absolute;
  box-sizing: border-box;
  max-width: calc(100% - 200px);
  min-width: 50%;
  font-weight: lighter;
  z-index: 1;
  padding: 10px;
}

footer {
  position: absolute;
  box-sizing: border-box;
  padding: 10px;
  bottom: 0;
  right: 0;
}

#nypl-container {
  position: absolute;
  padding: 10px;
  left: 0;
  bottom: 0;
  width: 50px;
  height: 50px;
  z-index: 1;
  opacity: 0.7;
  transition: opacity 0.3s;
}

#nypl-container:hover {
  opacity: 1;
}

#nypl-link {
  background-color: transparent;
}

button {
  cursor: pointer;
  box-sizing: border-box;
  border-radius: 2rem;
  display: inline-block;
  margin: 0.6rem;
  padding: 0.5rem 1.3rem;
  text-decoration: none;
  color: #fefefe;
  background-color: #d0343a;
  border-width: 2px;
  border-style: solid;
  border-color: #fefefe;
  transition: border-color 0.3s;
}

button:hover {
  border-color: #d0343a;
}

header h1 {
  font-size: 2rem;
  margin: 0;
  font-weight: 200;
}

header > * > * {
  background-color: rgba(30, 30, 30, 0.9);
  display: inline;
  padding: 7px 11px;
  line-height: 26px;
  height: 26px;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}

footer a,
footer a:visited {
  color: #d0343a;
}

#image-container,
#message-container {
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
  box-sizing: border-box;
  display: block;
  width: 100%;
  height: 100%;
}

#image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#message-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#surveyor-link {
  display: flex;
  align-items: center;
}

#surveyor-link:hover #marker {
  display: block;
}

#question {
  width: 200px;
  margin-right: 10px;
}

#nyc-animation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#shadow {
  position: absolute;
  bottom: 5px;
  width: 40px;
  z-index: 2;
  animation: animation-grow 0.5s forwards ease-out;
}

#new-york-city {
  position: relative;
  height: 50px;
  z-index: 3;
  animation: animation-bounce 0.5s forwards ease-out;
}

#marker {
  display: none;
  position: absolute;
  bottom: 37px;
  margin-left: -4px;
  width: 25px;
  z-index: 4;
  animation: animation-bounce 0.4s forwards ease-out;
}

#modal {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 99;

  overflow: hidden;
  margin: 0;
  padding: 20px;
  border: none;
}

#modal article {
  border-radius: 3px;
  box-shadow: 0 0 5px black;
  padding: 20px;
  box-sizing: border-box;
  height: 100%;
  width: 800px;
  max-width: calc(100% - 20px);
  overflow-y: auto;
  margin: 0 auto;
  background-color: #f5f5f5;
  font-size: 1.2rem;
}

#modal article, button {
  font-size: 1.2rem;
}

#modal article,
#modal article a,
#modal article a:visited {
  color: #333;
}

.two-columns {
  display: flex;
}

.two-columns > * {
  width: 50%;
}

.two-columns > *:first-child {
  padding-right: 5px;
}

.two-columns > *:last-child {
  padding-left: 5px;
}

#modal-title {
  margin-top: 0;
}

#modal-image {
  width: 100%;
}

#modal #metadata p {
  margin: 0;
}

#back-button {
  margin: 10px auto;
  display: block;
}

@keyframes animation-bounce {
  0% {
    transform: scale(0.6, 1.2) translateY(-500px);
  }
  40% {
    transform: scale(1.2, 0.7) translateY(20px);
  }
  60% {
    transform: scale(0.9, 1.1) translateY(-25px);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}

@keyframes animation-grow {
  0% {
    transform: scale(0);
  }
  20%, 100% {
    transform: scale(1);
  }
  60% {
    transform: scale(0.5);
  }
}
